#panel {
  display: block;
  position: relative;
  width: 350px;
  height: 550px;
}

p {
  margin-bottom: 0 !important;
}

#panel-border {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 250px;
  height: 514px;
  /* display: block; */
  border: 1px solid black;
}

#pcb-panel {
  position: absolute;
  top: 65px;
  left: 105px;
  width: 240px;
  height: 425px;
  border: 1px solid black;
  background: green;
  opacity: 0.3;
}

#pcb-text-w {
  top: 250px;
  left: 180px;
}

#pcb-text-h {
  top: 270px;
  left: 180px;
}

.panel-measure-line {
  position: absolute;
  border: 1px dotted black;
  display: block;
}

.panel-measure-line-vert {
  top: 0;
  width: 1px;
}

.panel-measure-line-hor {
  right: 0px;
  height: 1px;
  width: 325px;
}

#panel-measure-line-0 {
  left: 100px;
  height: 550px;
}

#panel-measure-line-1 {
  left: 150px;
  height: 550px;
}

#panel-measure-line-2 {
  right: 50px;
  height: 535px;
}

#panel-measure-line-3 {
  top: 20px;
}

#panel-measure-line-4 {
  top: 40px;
}

#panel-measure-line-5 {
  bottom: 34px;
}

#panel-measure-line-6 {
  bottom: 15px;
}

.panel-hole {
  position: absolute;
  display: block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#panel-hole-tl {
  top: 33px;
  left: 144px;
}

#panel-hole-tr {
  top: 33px;
  right: 44px;
}

#panel-hole-bl {
  bottom: 28px;
  left: 144px;
}

#panel-hole-br {
  bottom: 28px;
  right: 44px;
}

.panel-text {
  position: absolute;
  font-size: 10pt;
  margin-bottom: 0;
}

#top-hole-measurement {
  top: 19px;
}

#bottom-hole-measurement-v {
  bottom: 19px;
}

#bottom-hole-measurement-h {
  bottom: 0px;
  left: 104px;
}

#top-measurement {
  left: 30px;
  top: 3px;
}

#bottom-measurement {
  left: 30px;
  bottom: 0px;
}

#top-measurement-2 {
  left: 30px;
  top: 38px;
}

#hole-diameter {
  top: 45px;
  left: 155px;
}

#hole-spacing {
  top: 0px;
  left: 155px;
}

#panel-width {
  bottom: 0;
  right: 0;
}

.arrow {
  font-weight: 500;
}
